@{
    ViewBag.Title = "О проекте";
    Layout = "~/Views/Shared/_LayoutSecond.cshtml";
}
<h2>@ViewBag.Title.</h2>

<div style="font-size:19px; margin-top:20px">
    <p style="font-size:19px">Данная работа является дипломной работой студентки ИС 17-7 Имя Фам </p>
    <ul>
        <li>Номер телефона: </li>
        <li>Почта: </li>
    </ul>
    <p style="font-size:19px">Руководитель дипломной работы Имя Фам </p>

    <ul>
        <li>Номер телефона: </li>
        <li>Почта: </li>
    </ul>

</div>