
@{
    ViewBag.Title = "Администратор";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2 class="text-center" style="margin-top:6%">Поставщики</h2>

<section id="services" class="section">
    <div class="container">

        <div class="row">
            <!-- Start Col -->
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni lni-delivery"></i>
                    </div>
                    <h4 style="color:#151948">@Html.ActionLink("Все данные о поставщиках", "admin_tab_supplier_list", "Home")</h4>
                    
                </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni lni-handshake"></i>
                    </div>
                    <h4 style="color:#151948">@Html.ActionLink("Все заказы", "admin_tab_supplier_list_order", "Home")</h4>

                </div>
            </div>
            <!-- End Col -->
    

        </div>
    </div>
</section>

