
@{
    ViewBag.Title = "Сотрудник";
    Layout = "~/Views/Shared/_Layout_employee.cshtml";
}

<h2 class="text-center" style="margin-top:6%">Запрос</h2>

<section id="services" class="section">
    <div class="container">
        <div class="row">
            <!-- Start Col -->
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni lni-pencil"></i>
                    </div>
                    <h4 style="color:#151948">@Html.ActionLink("Оставить запрос", "employee_tab_inquiry", "Home")</h4>

                </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni lni-notepad"></i>
                    </div>
                    <h4 style="color:#151948">@Html.ActionLink("Мои запросы", "employee_tab_inquery_list", "Home")</h4>

                </div>
            </div>
            <!-- End Col -->
            <!-- Start Col -->
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="services-item text-center">
                    <div class="icon">
                        <i class="lni lni-popup"></i>
                    </div>
                    <h4 style="color:#151948">@Html.ActionLink("Статус запроса", "employee_tab_inquery_status", "Home")</h4>

                </div>
            </div>
            <!-- End Col -->





        </div>

        
        </div>
</section>

