@model CrmBProc.Models.Order_status_tbl

@{
    ViewBag.Title = "Поставка";
    Layout = "~/Views/Shared/_Layout_supplier.cshtml";
}

<h2 class="text-center">@ViewBag.Title </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="text-center" style="margin-top: 6%; color: #151948; font-size:16px">
        <dl class="dl-horizontal">

            

        </dl>
    </div>
    <div class="form-group text-center" style="margin-top:5%">
        <input type="submit" name="answer" value="Да" class="btn btn-success" style="font-size:10px" />
        <input type="submit" name="answer" value="Нет" class="btn btn-info" style="font-size:10px" />
        <input type="submit" name="answer" value="Накладная" class="btn btn-info" style="font-size:10px" />
    </div>

}
<div style="margin-top:7%">
    @Html.ActionLink("Назад к списку", "supplier_tab_sup")
</div>
